<!DOCTYPE html>
<html>
  <head>
    <title>S3 POST Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <form action="https://gcl-data.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
      <input type="hidden" name="key" value="space-test/${filename}">
      <input type="hidden" name="AWSAccessKeyId" value="AKIAJ57DVWC5BAJGQCNA">
      <input type="hidden" name="acl" value="private">
      <input type="hidden" name="success_action_redirect"
      value="https://s3.amazonaws.com/gcl-data/upload-success.html">
      <input type="hidden" name="policy"   
      value="<POLICY_DOCUMENT>">
      <input type="hidden" name="signature" value="<SIGNATURE>">
      <input type="hidden" name="Content-Type" value="image/jpeg">
      <!-- Include any additional input fields here -->

      File to upload to S3:
      <input name="file" type="file">
      <br>
      <input type="submit" value="Upload File to S3">
    </form>
  </body>
</html>

